.navMenu {
    @apply flex md:space-x-4 items-center;
  }
  
  .navMenuItem {
    @apply hidden md:block text-gray-800;
    font-size: 1.5rem;
  }
  
  @media (max-width: 767px){
  .hamburgerMenu {
    @apply flex flex-col gap-2 mr-5 p-1
  }
  .hamburgerMenu span {
    @apply bg-black w-8 h-0.5;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  }
  
  /*Mobile Nav Menu*/
  
  .mobileNavMenu {
    @apply lg:hidden 
    left-0 right-0 top-24 z-50
    flex-col absolute 
    w-full 
    rounded-b-lg 
    bg-white shadow-lg
    items-center;
    transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.7s ease;
  }
  
  .mobileNavMenu.hide {
    opacity: 0;
    pointer-events: none;
    @apply p-0 overflow-hidden h-0 max-h-0;
  }
  
  .mobileNavMenu.visible {
    opacity: 1;
    @apply py-4;
  }
  
  .mobileNavItem {
     @apply flex py-5 w-full h-full justify-center
  }
  
  .mobileNavItem:last-child {
    @apply rounded-b-lg;
  }
  
  .mobileNavItem:hover {
    background-color:#d60506;
    color: white;
  }
  
  /*Mobile Nav Menu Transitions*/
  .hamburgerMenu.open span:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px)
  }
  
  .hamburgerMenu.open span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburgerMenu.open span:last-child {
    transform: rotate(-45deg) translate(7px, -7px);
  }