
.hero-section {
    text-align: left;
    width: 80%;
    margin: auto;
}


.hero-section-title-wrapper {
    z-index: 50;
}

.hero-section-title-wrapper h1 {
    font-size: 4rem;
    font-weight:bold;
    color: Black;
    margin-top: 4rem;
    width: fit-content;
}


.headline-emphatic {
    color: #022580;
    text-decoration: underline;
    font-size: 5.5rem;
}



@media (max-width: 860px) {
    .hero-section-title-wrapper h1 {
        font-size: 2.5rem;
    }

    .headline-emphatic {
        font-size: 3rem;
    }

}