@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #bacca162;
  --foreground: black;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;;
  min-height: 200vh;
}

@media (min-width: 1400px ) {
  body {
      padding-inline: 5rem;
  }
}