
.header-container {
    @apply flex px-5 items-center;
    height: 7rem;
    width: 100vw;
    z-index: 50;
}


.logo-container img {
    width:15rem;
    margin: auto;
}

@media (max-width: 540px) {
    .header-container {
        @apply justify-center
    }

    .logo-container img {
        width: 10rem;
    }
}